# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
logs/

# functions
functions/

# DEVELOPMENT
*.json5
main.py
config.py
